language: python
sudo: required
python:
    - 2.6
    - 2.7
    - 3.2
    - 3.3
    - 3.4
install:
    - sudo apt-get install graphviz || sudo apt-get update && sudo apt-get install graphviz
    - pip install coverage coveralls flake8 -e .
before_script: 
    - make lint
script:
    - coverage run --source=objgraph tests.py
after_success:
    - coveralls
notifications:
    email: false
