language: python
python:
    - 2.6
    - 2.7
    - 3.2
    - 3.3
    - 3.4
install:
    - sudo apt-get install graphviz
    - pip install coverage coveralls
    - pip install -e .
script:
    - coverage run --source=objgraph tests.py
after_success:
    - coveralls
notifications:
    email: false
