include Makefile
include *.rst
include tests.py
include tox.ini
include docs/*.txt
include docs/*.dot
include docs/*.png
include docs/conf.py
include docs/_static/*.css
include .gitignore
include .gitattributes
include *.yml

# added by check_manifest.py
include *.txt

# added by check_manifest.py
include LICENSE

# added by check_manifest.py
include *.mk

# added by check_manifest.py
include .coveragerc
